h1 {
    margin: 1rem 0;
}

h2 {
    margin: 0;
    font-size: calc(5px + 1.5vmin);
}

.player-info h2 {
    color: white;
    font-size: calc(5px + 1.5vmin);
}

button {
    border: none;
}

button[class="test!"] {
    position: fixed;
}

.player-info-0 {
    background-color: #e3e1f4;
    width: 15%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

.player-info-1 {
    background-color: #d8cac0;
    width: 15%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.player-label-0 {
    background-color: #3c4f76;
    padding-top: 5%;
    padding-bottom: 5%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
}

.player-label-1 {
    background-color: #6e615e;
    padding-top: 5%;
    padding-bottom: 5%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
}

.turn-info {
    padding: 20px 0px 0px 0px;
    text-align: center;
}

[class*="1000"], [class*="2000"], [class*="3000"], [class*="4000"], [class*="5000"] {
    color: #ed4337;
}

.board {
    margin: 0 auto 0 auto;
    text-align: center;
    border: 2px black solid;
    /*width: 54rem;
    height: 54rem;*/
    width: 43vw;
    height: 43vw;
}

.tile {
    /*    width: 5.4rem;
        height: 5.4rem;*/
    width: 4.3vw;
    height: 4.3vw;
}

.tile[value="0"] {
    background-color: #3c4f76;
}

.tile[value="1"] {
    background-color: #d8cac0;
}

.tile:enabled {
    filter: contrast(110%);
    border: 5px #3c4f76 groove;
}

.tile:disabled {
    filter: contrast(90%);
    color: #69696d;
}

.white[value="-1"] {
    background-color: #e3e1f4;
}

.black[value="-1"] {
    background-color: #383f51;
}

.tile[value="-2"] {
    background-color: cadetblue;
}